
/* nav */
nav {
	background-color: black;
	padding: 10px;
	/*position: sticky;
	top: 0;*/
	
}

nav a{
	color: #fdb924;
	text-decoration: none;
}

nav li{
	display: inline;
	padding: 10px;
	margin: 10px;
}

nav a:hover{
	text-decoration: underline;
}

nav li:hover{
	background: #808080;
}


/* header */
header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 10px;
}

#headerimg {
	grid-column: 2;
}

#socialheader {
	grid-column: 3;
	justify-self: end;
	align-self: center;
}

/* footer */
footer {
	padding-top: 20px;
	background-color: #fdb924;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
}

#footerimg {
	grid-column: 1;
	grid-row: 1 / span 2;
	margin-left: 20px;
}

#socialfooter {
	grid-column: 4;
	grid-row: 1 / span 2;
	
}

#socialfooter img{
	vertical-align: middle;
	
}

.footersection {
	/*background-color: #dcdcdc;*/
	margin-left: 20px;
	padding: 0 20px;
}

footer a{
	text-decoration: none;
	color: black
}

footer a:hover{
	color: #494e6c;
}
