@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mohawk Car Rentals</h1>
    <p>Serving the Mohawk College community since 1966.</p>
    <img src="~/images/Car.jpg" alt="Car Picture" width="900px" />
</div>
